body {
  background: rgb(48,48,48);
  color: white;
  font-size: 20px;
  /* text-align: center; */
}

h1 {
  color: yellow;
  text-align: center;
  margin: 30px auto;
  font-weight: bold;
}

h2 {
  color: orange;
  font-weight: bold;
}

p span {
  font-weight: bold;
  color: rgb(255, 255, 102);
}

hr {
  border-color: white;
}

form {
  display: inline-block;
}

.btn {
  font-size: 20px;
}

.left-pane-input{
  width: 100%;
}

.left-pane-btn {
  margin-bottom: 28px;
}

.buttons {
  text-align: right;
}
